


header{
  background-color: #4DB6AC;
  padding: 0px 50px;  
}
  



ul{

  width: 50%;
  text-align: center;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}  

li{
  display: inline-block;
  margin: 0 7%;
  font-family: helvetica;
  font-size: 18px;
}

nav{
  height: 100px;
  padding-top: 30px;
}
